<md-card style="width:400px">
    <form [formGroup] = "form" (ngSubmit)="onSubmit()">
        <md-input-container>
            <input mdInput placeholder="First name" style="width:350px" formControlName="firstName">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Last name" style="width:350px" formControlName="lastName">
        </md-input-container>
        <br>
        <br>
        <button md-raised-button color="primary">Save Changes</button>
    </form>
</md-card>
